# Staging logs witness policy.

## Dev Omni.
witness o1 transparency.dev/DEV:witness-little-garden+4b7fca75+AStusOxINQNUTN5Oj8HObRkh2yHf/MwYaGX4CPdiVEPM https://api.transparency.dev/dev/witness/little-garden 

group o_grp all o1

## AW CI devices
witness aw1 ArmoredWitness-wispy-snow+834b82b1+ASho7B13t7PhXoLr43ppVFCHEpTSajIybNRYMSi8XR1Q https://bastion.glasklar.is/baea8a7b22bb1a6420464bab7a01f768f120cf237bb399b46d0973109059175264
witness aw2 ArmoredWitness-black-paper+2098422d+AReXvQmqY5qnUZQCsds1Pk90VuOb9a5iDaqLxHiTsW4o https://bastion.glasklar.is/76d180a9d59ea2165ba4417d96ff26f79f938116129519ec85f2a39473c65cb9
witness aw3 ArmoredWitness-holy-frog+e66f71d4+AfGeqx8rOiK1WIPz3bEOT7tNRHigUAFLTdvTZ9IPT8m3 https://bastion.glasklar.is/66cea1a2e93c90692a697c4f36418f38d72287f65c842b883f3343bb0e27ab44
witness aw4 ArmoredWitness-morning-surf+82bc63bd+AUylOFW/NW4Y3ooygtklaXswvD8NQ6ET8guBTdCcBwt3 https://bastion.glasklar.is/1decd179ab5784e3f8ee689af2d3b353ca8ce4d1e25abe8b50b9376af32233b7

group aw_grp 3 aw1 aw2 aw3 aw4

group q_grp all o_grp aw_grp
quorum q_grp
