# Staging logs witness policy.

## Dev witnesses
witness tf-1 transparency.dev/DEV:witness-little-garden+4b7fca75+AStusOxINQNUTN5Oj8HObRkh2yHf/MwYaGX4CPdiVEPM https://api.transparency.dev/dev/witness/little-garden 
witness remora-1 remora.n621.de+da77ade7+BOvN63jn/bLvkieywe8R6UYAtVtNbZpXh34x7onlmtw2 https://remora.n621.de/
witness smartit-1 witness1.smartit.nu/witness1+a48c820f+BPSFWg9G6KPiO7QPryYO5Xq4oYJJ+kAvLKLSimDhoxMO https://witness1.smartit.nu/witness1
witness rgdd-1 rgdd.se/poc-witness+db03732e+BCjJKlo6BU0xfIb8LutqerIFTWIXEA0L5n3tW3QyPFgG https://bastion.glasklar.is/70b861a010f25030de6ff6a5267e0b951e70c04b20ba4a3ce41e7fba7b9b7dfc

group dev_grp all tf-1 remora-1 smartit-1 rgdd-1

## AW CI devices
witness aw1 ArmoredWitness-wispy-snow+834b82b1+ASho7B13t7PhXoLr43ppVFCHEpTSajIybNRYMSi8XR1Q   https://bastion.glasklar.is/ea8a7b22bb1a6420464bab7a01f768f120cf237bb399b46d0973109059175264
witness aw2 ArmoredWitness-black-paper+2098422d+AReXvQmqY5qnUZQCsds1Pk90VuOb9a5iDaqLxHiTsW4o  https://bastion.glasklar.is/76d180a9d59ea2165ba4417d96ff26f79f938116129519ec85f2a39473c65cb9
witness aw3 ArmoredWitness-holy-frog+e66f71d4+AfGeqx8rOiK1WIPz3bEOT7tNRHigUAFLTdvTZ9IPT8m3    https://bastion.glasklar.is/66cea1a2e93c90692a697c4f36418f38d72287f65c842b883f3343bb0e27ab44
witness aw4 ArmoredWitness-morning-surf+82bc63bd+AUylOFW/NW4Y3ooygtklaXswvD8NQ6ET8guBTdCcBwt3 https://bastion.glasklar.is/1decd179ab5784e3f8ee689af2d3b353ca8ce4d1e25abe8b50b9376af32233b7
witness aw5 ArmoredWitness-long-dew+0de2fcf1+AUyK/KE1b77kJiBE9SQc0T90NqbiAYm4ksce58Gx+E/l     https://bastion.glasklar.is/c412b97bcc4d8bac24be24f51931a009488e0e85a21bdba9d2f0c72c0d406a86

group aw_grp 3 aw1 aw2 aw3 aw4 aw5

group q_grp all dev_grp aw_grp
quorum q_grp
