name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'


jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          path: tesseract
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: tesseract/go.mod
      - name: Install ko
        uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9.0
      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and publish images
        id: ko
        run: |
          export KO_DOCKER_REPO="ghcr.io/$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]' )"

          mkdir -p ${GITHUB_WORKSPACE}/sbom-output

          cd ${GITHUB_WORKSPACE}/tesseract
          images=$(ko publish \
            --platform=linux/amd64,linux/arm64 \
            --tags=${{ github.sha }} \
            --sbom-dir=${GITHUB_WORKSPACE}/sbom-output \
            github.com/transparency-dev/tesseract/cmd/tesseract/posix \
            github.com/transparency-dev/tesseract/cmd/tesseract/aws \
            github.com/transparency-dev/tesseract/cmd/tesseract/gcp \
            github.com/transparency-dev/tesseract/cmd/fsck)
          echo "Images:\n${images}"
          echo "SBOM files:"
          ls -la ${GITHUB_WORKSPACE}/sbom-output/

          echo "images=$(echo "${images}" | tr '\n' ' ')" >> $GITHUB_OUTPUT
      - name: Sign images
        run: |
          for image in ${{ steps.ko.outputs.images }}; do
            cosign sign --yes --recursive "${image}"
          done
      - name: Attest SBOMs
        run: |
          for image in ${{ steps.ko.outputs.images }}; do
            sbom="${GITHUB_WORKSPACE}/sbom-output/$(echo ${image##*/} | cut -d- -f1)-index.spdx.json"
            cosign attest --yes --predicate "${sbom}" --type "https://spdx.dev/Document" "${image}"
          done
